<div class="w-full h-full">
  <div class="mb-4">
    <input type="text" id="inputNombre" placeholder="Enter the drug name" class="w-full text-black px-4 py-2 border-2 border-gray-400 rounded-lg focus:outline-none focus:ring-2 focus:ring-green-500">
  </div>
  <div class="mb-4">
    <button id="buscarBtn" class="w-full bg-green-600 text-white px-4 py-2 rounded-lg hover:bg-green-500 focus:outline-none focus:ring-2 focus:ring-green-500">
      Search
    </button>
  </div>
  <div id="sugerencias" class="mb-4 rounded-lg"></div>
  <div id="resultado"></div>
</div>

<script>
  let medicamentos = [];
  document.addEventListener('DOMContentLoaded', function() {
    let timer;
    const inputNombre = document.getElementById('inputNombre') as HTMLInputElement;
    const sugerenciasDiv = document.getElementById('sugerencias');
    const buscarBtn = document.getElementById('buscarBtn');
    const resultadosDiv = document.getElementById('resultado');

    const limpiarSugerencias = () => {
      sugerenciasDiv.innerHTML = '';
    };

    const buscarMedicamento = (nombre) => {
      console.log('buscarMedicamento called with nombre:', nombre);
      fetch(`/api/cima?nombre=${encodeURIComponent(nombre)}`)
        .then(response => response.json())
        .then(data => {
          console.log('buscarMedicamento response data:', data);
          if (data.resultados && data.resultados.length > 0) {
            medicamentos = data.resultados;
            renderMedicamentos();
          } else {
            medicamentos = [];
            renderMedicamentos();
          }
        })
        .catch(error => {
          console.error('Error:', error);
          medicamentos = [];
          renderMedicamentos();
        });
    };

    const renderMedicamentos = () => {
      resultadosDiv.innerHTML = '';
      if (medicamentos.length > 0) {
        medicamentos.forEach((medicamento) => {
          const card = document.createElement('div');
          card.classList.add('medicamento', 'bg-green-300','text-black', 'border', 'border-green-500', 'rounded', 'p-4', 'shadow-md', 'mb-4', 'flex', 'flex-col', 'md:flex-row', 'items-start','reveal');  
          card.innerHTML = `
            <div class="md:w-3/4">
              <h2 class="text-xl font-bold mb-2">${medicamento.nombre}</h2>
              <p class="mb-1"><span class="font-semibold">Laboratorio titular:</span> ${medicamento.labtitular}</p>
              <p class="mb-1"><span class="font-semibold">Prescripción:</span> ${medicamento.cpresc}</p>
              <p class="mb-1"><span class="font-semibold">Comercializado:</span> ${medicamento.comerc ? "Sí" : "No"}</p>
              <p class="mb-1"><span class="font-semibold">Necesita receta:</span> ${medicamento.receta ? "Sí" : "No"}</p>
              <p class="mb-1"><span class="font-semibold">Vía de administración:</span> ${medicamento.viasAdministracion.map(via => via.nombre).join(", ")}</p>
              <p class="mb-1"><span class="font-semibold">Forma farmacéutica:</span> ${medicamento.formaFarmaceutica.nombre}</p>
              <div class="botones-contenedor mt-2">
                <a href="${medicamento.docs[0]?.url || '#'}" target="_blank" class="text-blue-800 hover:text-blue-600 underline">Ficha Técnica PDF</a>
                <a href="${medicamento.docs[0]?.urlHtml || '#'}" target="_blank" class="text-blue-800 hover:text-blue-600 underline ml-4">Web Ficha Técnica</a>
              </div>
            </div>
            ${medicamento.fotos && medicamento.fotos.length > 0 ? `<div class="md:w-1/4 md:flex md:flex-wrap md:justify-end">${medicamento.fotos.map(foto => `<img src="${foto.url}" alt="Imagen del medicamento" class="mt-2 md:mt-0 md:ml-4 w-48 h-48 object-cover"/>`).join("")}</div>` : ""}
          `;
          resultadosDiv.appendChild(card);
        });
      } else {
        resultadosDiv.innerHTML = '<p class="text-red-500">No se encontraron resultados.</p>';
      }
    };

    inputNombre.addEventListener('input', function() {
      clearTimeout(timer);
      const valor = (this as HTMLInputElement).value;
      if (valor) {
        timer = setTimeout(() => {
          fetch(`/api/cima?nombre=${encodeURIComponent(valor)}`)
            .then(response => response.json())
            .then(data => {
              limpiarSugerencias();
              if (data.resultados && data.resultados.length > 0) {
                data.resultados.forEach((medicamento) => {
                  const p = document.createElement('p');
                  p.classList.add('px-4', 'py-2', 'cursor-pointer', 'hover:bg-green-600');
                  p.textContent = medicamento.nombre;
                  p.addEventListener('click', () => {
                    inputNombre.value = medicamento.nombre;
                    buscarMedicamento(medicamento.nombre);
                    limpiarSugerencias();
                  });
                  sugerenciasDiv.appendChild(p);
                });
              } else {
                sugerenciasDiv.innerHTML = '<p class="px-4 py-2 text-gray-600">No se encontraron resultados.</p>';
              }
            })
            .catch(error => console.error('Error:', error));
        }, 500);
      } else {
        limpiarSugerencias();
      }
    });

    buscarBtn.addEventListener('click', function() {
      const nombre = inputNombre.value;
      buscarMedicamento(nombre);
      limpiarSugerencias();
    });
  });
</script>
