---
import { Icon } from "astro-icon/components";
import Logo from "~/components/Logo.astro";
import "~/styles/index.css";

const { generator, site } = Astro;
const image = new URL("social.jpg", site);
const description =
  "Build fast websites, faster. Astro is a new kind of site builder for the modern web. Lightning-fast performance meets powerful developer experience.";
---

<!doctype html>
<html lang="en" class="h-full motion-safe:scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Pacifico&display=swap" as="style">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Pacifico&display=swap" rel="stylesheet">  
    <meta name="generator" content={generator} />

    <title>Astro Landing Page</title>
    <meta name="description" content={description} />

    <!-- social media -->
    <meta property="og:title" content="Astro" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />
  </head>
<body class="dark-mode">
  <header class="flex justify-between items-center p-4">
    <Logo />
    <button id="mode-toggle" class="flex items-center animate__animated animate__fadeIn">
      <Icon name="mdi:theme-light-dark" class="theme-icon" />
    </button>
  </header>
  <main class="p-4 px-16 animate__animated animate__fadeIn">
    <slot />
  </main>
  <button id="back-to-top" style="display: none;">
    <Icon name="mdi:arrow-up-bold" class="theme-icon" />
  </button>
  <script>
    function toggleMode() {
  console.log("click");
    const body = document.body;
    if (body.classList.contains('dark-mode')) {
      body.classList.remove('dark-mode');
      body.classList.add('light-mode');
    } else {
      body.classList.remove('light-mode');
      body.classList.add('dark-mode');
    }
  }
  const changeTheme = document.querySelector('#mode-toggle');

  changeTheme.addEventListener('click', toggleMode);

   // Scroll to top button
   const backToTopButton = document.getElementById('back-to-top');
    window.onscroll = function() {
      if (window.pageYOffset > 100) {
        backToTopButton.style.display = 'block';
      } else {
        backToTopButton.style.display = 'none';
      }
    };
    backToTopButton.onclick = function() {
      window.scrollTo({ top: 0, behavior: 'smooth' });
    };
  </script>
</body>
</html>

<style>
  #mode-toggle{
    cursor: pointer;
  }
   #mode-toggle svg {
    color:#000;
    width: 32px;
    height: 32px;
    background-color: #20BF5B;
  }
  body.light-mode {
    background: #ffffff;
    color: #111827;
  }

  body.dark-mode {
    background: #111827;
    color: #ffffff;
  }
  #back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    font-size: 16px;
    color: black;
    background-color: #FFC107;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: none; /* Hidden by default */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
  }
  #back-to-top:hover {
  background-color: #E0A800; /* Darker shade of the background color */
  color: white; /* Change text color */
}
#back-to-top svg {
  width: 30px;
  height: 30px;
  transition: transform 0.3s;
}

#back-to-top:hover svg {
  animation: move 0.4s infinite alternate;
}

@keyframes move {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-3px);
  }
}
</style>